@font-face {
    src: url("Inter-VariableFont_slnt\,wght.ttf");
    font-family: Inter;
}

body {
    margin: 0;
    text-align: center;
    font-family: Inter;
    background: #F4F4F4
}

h3 {
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    margin-bottom: 30px;
}

div {
    background: #6943FF;
    display: flex;
    flex-direction: column;  
    align-items: center;
    color: white;
}

input {
    margin-top: 0px;
    margin-bottom: 25px;
    width: 117px;
    height: 83px;
    font-size: 58px;
    font-weight: 800;
    color: white;
    background-color: #6943FF; 
    
    border: 2px solid #B295FF;
    border-radius: 5px;
    text-align: center;
}

button {
    margin-top: 0;
    margin-bottom: 34px;
    width: 117px;
    height: 42px;
    padding: 9px 27.5px;

    border: none;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    font-size: 16px;
    font-weight: 500;
}

ul {
    list-style: none;
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    text-align: center;
}

li {
    background: white;
    margin-top: 12px;
    margin-bottom: 12px;
    
    width: 500;
    /* margin: 12px 25px; */
    padding: 30px 80px 18px 80px;
}

h4 {
    margin: 0;
    color: #5A537B;
    font-size: 20px;
    font-weight: 600;
}

p {
    margin-top: 15px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 400;
}